* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url(../Assets/images/background-hero.png);
}
.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.header-container {
  width: 90%;
  display: flex;
  justify-content: ;
  margin: auto;
  padding-top: 37px;
}
.header-logo {
  width: 40%;
}
.header-logo a {
  display: inline-block;
}
.header-nav {
  width: 40%;
}
.header-nav ul {
  list-style-type: none;
}
.header-nav ul li a {
  text-decoration: none;
}
.header-search {
  width: 20%;
}
