/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url(../Assets/images/background-hero.png);
  background-position: center;
  background-size: cover;
}
.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Header Styles */
.header-container {
  width: 90%;
  display: flex;
  margin: auto;
  padding-top: 37px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* logo styles */
.header-logo {
  width: 40%;
}
.header-logo a {
  display: inline-block;
}

/* navbar styles */
.header-nav {
  width: 50%;
  display: flex;
}
.header-nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.header-nav ul li {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 3px;
}
.header-nav ul li:hover {
  background-color: #fca311;
  color: black;
  transition: 0.5s;
}
.header-nav ul li:hover a {
  color: black;
  transition: 0.5s;
}
.header-nav ul li a {
  text-decoration: none;
  color: white;
  line-height: 20px;
  font-weight: 700;
}
/* search bar styles */
.header-search {
  width: 10%;
}
.header-search i {
  color: white;
}

/* header hero styles */
.header-hero {
  height: 1500px;
}
